@import './navbar.css';
@import './lightmode.css';
@import './background.css';

* {
  outline: none;
  border: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  -webkit-user-drag: none;
  list-style-type: none;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 0px;
}

:root {
  scrollbar-width: none !important;
}


a {
  text-decoration: none;
  color: black;
}

.App {
  text-align: center;
  background-color: #0c1e2e;
  -webkit-transition: 1s;
  transition: 1s;
}


.fullpage {
  width: 100%;
  height: auto;
  min-height: 60vh;
  overflow: hidden;
}


#loading {
  height: 100vh;
  max-height: 100vh;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  background: white;
}

#loading.done {
  opacity: 0;
}



#loading h1 {
  color: black;
  top: 45%;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 1000;
  letter-spacing: 2px;
}

.base {
  background-color: #505050;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100px;
  margin-bottom: -5px;
}

#home {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}






.positionbg {
  padding-left: 2vw;
  font-size: 17em;
  bottom: 0;
  left: 0;
  position: static;
  overflow-x: hidden;
  z-index: 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.02);
  text-align: left;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: 1s;
  transition: 1s;
}

.intro {
  font-family: georgia;
  text-align: left;
  font-size: 2.2vw;
  line-height: 1.3;
  position: absolute;
  top: 20vh;
  left: 10vw;
}

.intro h1 {
  margin-top: 0;
  margin-bottom: 5px;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}


.intro h2 {
  font-size: 1.5em;
  margin: 3vh 0;
  color: rgb(0, 158, 217);
  -webkit-transition: 1s;
  transition: 1s;
  animation: fadeup 1.5s linear;
}

@keyframes fadeup{
  0%{
    opacity: 0;
    transform: translateY(80px)
  }
  70%{
    opacity: 0;
    transform: translateY(80px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}


.typerwriter {
  color: white;
  opacity: 0;
  -webkit-animation: typing 1s linear;
          animation: typing 1s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.typerwriter.light {
  color: black;
  opacity: 0;
}

@-webkit-keyframes typing {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typing {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.infobox{
  right:2vw;
  bottom: 30px;
  z-index: 1000000;
  position: fixed;
}

.infobox ul li{
  height: 40px;
  width: 40px;
  margin: 20px 0;
}
.infobox ul.react-reveal{
  padding-left: 0;
}
.icon{
  transition: 300ms;
  max-width: 40px;
}
.icon:hover{
  transform: translateY(-5px);
  fill:white;
}

.info {
  display: none;
}

.arrow {
  width: 50px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background-color: #323232;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 50%;
  border: 2px solid #323232;
  cursor: pointer;
}

.arrow:hover {
  -webkit-transform: scale(1.2) rotate(0deg);
          transform: scale(1.2) rotate(0deg);
  background: #009ed9;
  border: 2px solid #009ed9;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
}





















#about {
  z-index: 20;
  padding-top: 50px;
}

/* .progressbar{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 1px;
  z-index: 100;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 10000;
} */

.aboutcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-top: 8vh;
  margin-left: 10%;
  margin-right: 10%;
}

.aboutleft {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  max-width: 800px;
}

.aboutleft p {
  color: rgba(255, 255, 255, 0.8);
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  line-height: 1.5;
  font-weight: 500;
  text-align: left;
  text-align: "." start;
  -webkit-transition: 1s;
  transition: 1s;
}

.aboutleft p b {
  text-align: left;
  font-size: 1.5em;
}

.aboutright {
  width: 50%;
}

.aboutright img {
  max-width: 400px;
  background: green;
  width: 80%;
  border-radius: 20px;
  margin: 10%;
  margin-top: 5vh;
  -webkit-transition: .5s;
  transition: .5s;
}

.aboutright img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.icons {
  margin-top: 3vh;
}

.icons img {
  width: 12%;
  margin-left: 1%;
  margin-right: 1%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
}

.smallericon {
  width: 10% !important;
  padding-bottom: 1%;
}

.icons img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.resumelink {
  width: 90%;
  margin: 50px 5%;
}

.resumelink div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.resumelink div a {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  background-color: #009ed9;
  font-weight: 700;
  padding: 7px 30px;
  color: white;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: 0.3s;
}

.resumelink div a:hover {
  background-color: black;
}








#skills {
  padding-top: 100px;
}

.skillscontainer {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.skillbox {
  width: 48%;
  height: 240px;
  float: left;
  margin: 1%;
  background-color: rgba(136, 136, 136, 0.3);
  border-radius: 5px;
  transition: 0.5s;
  padding-top: 10px;
}

.skillbox:hover{
  background-color: rgba(195, 195, 195, 0.4);
}

.skillbox b {
  color: #00baff;
  font-size: 1.5em;
}

.skill {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  float: left;
}

.skill img {
  width: 70px;
  margin: 0 10px;
}

.skill p {
  width: 90%;
  margin: 5%;
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
  -webkit-transition: 1s;
  transition: 1s;
}

























#projects {
  padding-top: 100px;
}

.projectcontainer {
  width: 90%;
  margin: auto;
  max-width: 1200px;
  margin-top: 2%;
}

.projectbox {
  margin: 30px 0;
  width: 100%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.projectboxleft {
  border-radius: 10px;
  width: 60%;
  max-width: 700px;
  min-width: 700px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}

.projectboxleft.light img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  filter: brightness(1);
  transition: .5s;
}
.projectboxleft img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  filter: brightness(0.8);
  transition: .5s;
}

.projectboxleft img:hover{
  filter: brightness(1);
  transform: scale(1.03);
}

.projectboxright {
  margin: auto 0;
  height: 80%;
  width: 40%;
  min-width: 500px;
  z-index: 10;
  margin-left: auto;
  position: relative;
  -webkit-box-shadow: -5px 1px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 1px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 10px 30px;
  -webkit-transition: .7s;
  transition: .7s;
}

.projectboxright h2 {
  margin-top: 10px;
  text-align: right;
  font-size: 1.7em;
  color: white;
  letter-spacing: 3px;
  -webkit-transition: 1s;
  transition: 1s;
}

.projectboxright p {
  font-size: 1.2em;
  text-align: right;
  font-weight: 600;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.projectboxright .pills {
  font-size: 1em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.links {
  margin-top: 10px;
  display: block;
  right: 6%;
  position: absolute;
  border-radius: 40px;
  padding: 7px 1px;
  -webkit-box-shadow: -5px 1px 10px 0px rgba(255, 255, 255, 0.4);
          box-shadow: -5px 1px 10px 0px rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: 1s;
  transition: 1s;
}

.links a{
  padding: 0 5px;
}
.links a b {
  font-size: 1.2em;
  padding: 3px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
}

.links a b:hover {
  background-color: black;
  color: white;
}

.livedemobutton {
  width: 120px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  text-align: center;
  margin-top: 60px;
  font-size: 1.4em;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #009ed9;
  cursor: pointer;
}


.livedemobutton a {
  -webkit-transition: .5s;
  transition: .5s;
}

.livedemobutton:hover a{
  color: white;
}

@media only screen and (max-width: 880px) {
  .projectcontainer {
    width: 95%;
    margin: auto;
    max-width: 1200px;
    margin-top: 2%;
  }
  .projectbox {
    display: block;
    height: auto;
  }
  .projectboxleft {
    width: 90%;
    margin-right: 10%;
    min-width: auto;
    max-height: 350px;
    position: relative;
  }
  .projectboxright {
    margin-top: -70px;
    width: 70%;
    padding: 5%;
    min-width: auto;
    position: relative;
  }
  .projectboxright h2 {
    font-size: 1.2em;
    margin: 0;
  }
  .projectboxright p {
    font-size: 0.9em;
    margin: 10px 0;
  }
  .projectboxright .pills {
    font-size: 0.9em;
  }

  .links{
    padding: 7px 0;
  }
  .links a{
    padding: 0 5px;
  }
  .links a b {
    font-size: 1em;
  }
  .livedemobutton {
    margin-top: 55px;
  }
  .livedemobutton b {
    font-size: .9em;
    width: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .projectcontainer {
    width: 95%;
    margin: auto;
    max-width: 1200px;
    margin-top: 2%;
  }
  .projectbox {
    display: block;
    height: auto;
  }
  .projectboxleft {
    width: 100%;
    min-width: auto;
    max-height: 350px;
    position: relative;
  }
  .projectboxright {
    margin-top: 3%;
    width: 90%;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    min-width: auto;
    position: relative;
  }
}












.pills {
  width: 100%;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.7em;
  font-weight: 700;
  color: white;
}

.pill {
  background: #009ed9;
  margin: 0px 10px;
  margin-top: 5px;
  padding: 1px 10px;
  border-radius: 20px;
}

.pill.Redux {
  background-color: purple;
}

.pill.ROR {
  background-color: #df0000;
}

.pill.Affinity {
  background-color: #007099;
}

.pill.VanillaJS {
  background-color: #dabe00;
  color: black;
}

.viewmorebutton {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5%;
  padding: 10px 30px;
  font-size: 1.5em;
  font-weight: 700;
  margin: 2% 20%;
  border-radius: 30px;
  letter-spacing: 3px;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.viewmorebutton:hover {
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
}












#blogs {
  padding-top: 100px;
}

.blogscontainer {
  width: 90%;
  margin: auto;
  max-width: 1200px;
}

.blogbox {
  width: 30%;
  margin: 0% 1.5%;
  float: left;
  display: block;
  height: 420px;
}
.blogbox.light img{
  filter: brightness(1);
  transition: 1s;
}

.blogbox img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 1px rgba(94, 94, 94, 0.3);
          box-shadow: 0 0 20px 1px rgba(94, 94, 94, 0.3);
  filter: brightness(0.7);
  transition: 0.5s;
}

.blogbox img:hover{
  filter: brightness(1);
  transform: translateY(-5px);

}
.blog {
  text-align: left;
}

.blog b {
  font-size: 1.7em;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.blog small {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 1s;
  transition: 1s;
}

.blogtags.pills {
  font-size: 0.8em;
  display: block;
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.blogtags .pill {
  white-space: nowrap;
  float: left;
  display: inline-block;
  margin-left: 0;
  margin-right: 5px;
}

.moreblog{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}














#contact {
  height: 100vh;
  z-index: 200;
  padding-bottom: 20px;
}

.contactcontainer {
  padding-top: 20vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contactcontainer h1 {
  color: white;
  margin-top: 0;
  font-size: 3.5em;
  margin-bottom: 20px;
}

.contactcontainer p {
  color: white;
  font-size: 1.4em;
  margin-bottom: 50px;
}

.contactcontainer a {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: transparent;
  border: 3px solid #009ed9;
  color: #009ed9;
  padding: 10px 15px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contactcontainer a:hover {
  background-color: #009ed9;
  color: white;
}

hr {
  border: 1px solid white;
  width: 188px;
  -webkit-transition: 1s;
  transition: 1s;
}

.scrollup {
  width: 50px;
  margin-top: 130px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
  background-color: #4a4a4a;
  border: 2px solid #4a4a4a;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scrollup:hover {
  background-color: #009ed9;
  border: 2px solid #009ed9;
}














#footer {
  height: 30px;
  padding-top: 12px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.footernote {
  width: 90%;
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer p {
  font-weight: 700;
  margin: 0;
  color: white;
}

#footer a {
  color: white;
}















.pagemark {
  color: #009ed9;
  text-align: left;
  height: 50px;
  padding-top:0;
  margin-top: 0;
  font-size: 2.5em;
  -webkit-transition: .3s;
  transition: .3s;
}

.pagemark.remove {
  -webkit-transform: translateX(-100%) scale(0);
          transform: translateX(-100%) scale(0);
  opacity: 0;
}
















@media only screen and (max-width: 880px) {
  .positionbg {
    font-size: 13em;
  }
  .intro {
    font-size: 2.2em;
    top: 25vh;
    left: 5vw;
  }
  .intro h1 {
    font-size: 1em;
    line-height: 1.6;
  }
  .intro h2 {
    font-size: 0.8em;
    line-height: 1.6;
  }
  /*about page*/
  .aboutcontainer {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .aboutleft {
    width: 100%;
    margin: 0%;
  }
  .icons img {
    max-width: 50px;
  }
  .aboutleft p b {
    font-size: 1.2em;
    line-height: 1.2;
  }
  .aboutleft p {
    font-size: 1em;
    line-height: 1.4;
  }
  .aboutright {
    width: 100%;
  }
  .aboutright img {
    max-width: 300px;
  }
  .skill p {
    font-size: 1.1em !important;
  }
  .resumelink div {
    font-size: 1.2em;
    display: block;
  }
  .resumelink div a {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0;
    width: 230px;
    margin-left: auto;
    padding: 5px 0px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .project {
    width: 100%;
    margin: 0;
    margin-bottom: 5%;
    height: 300px;
  }
  .projectcontainer {
    width: 90%;
    margin: 5%;
  }
  .blogbox {
    width: 30%;
    margin-bottom: 4%;
    float: left;
    display: block;
    height: auto;
  }
  .blogbox a img {
    height: 200px;
  }
  .blog b {
    font-size: 1.4em;
  }
  .blog small {
    font-size: 1em;
  }
  .blogtags.pills {
    margin-top: 10px;
  }
  #contact {
    height: 100vh;
  }
  .contactcontainer {
    width: 80%;
    margin: auto;
  }
  .contactcontainer h1 {
    font-size: 2.4em;
  }
  .contactcontainer p {
    font-size: 1.3em;
  }
  .scrollup {
    margin-top: 60px;
  }
  .skillbox {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .skillbox p {
    font-size: 1.2em;
  }
  .blogbox {
    width: 100%;
    margin-bottom: 5%;
  }
  .viewmorebutton {
    padding: 5px 20px;
    font-size: 1.3em;
  }
  .info {
    width: 20%;
    margin: 0 auto;
    padding-top: 70px;
    display: block;
  }
  .info ul.react-reveal{
    padding: 0;
  }
  .info ul li{
    margin:0 auto;
  }
  .info ul li:first-child{
    margin-left: 0;
  }
  .info ul li:last-child{
    margin-right: 0;
  }
  .infobox {
    width: 40px;
    display: none;
  }
  .infobox div a img {
    width: 30px;
    margin: 7px 0;
  }
  .pagemark {
    padding-top: 0;
  }
}

@media only screen and (min-width: 1500px) {
  .project {
    width: 30%;
    margin: 1.5%;
    margin-bottom: 1%;
    height: 300px;
  }
  .skillbox {
    width: 31%;
    height: 260px;
  }
}
