.backgroundimage{
  position: absolute;
  height: 3000px;
  width: 100%;
  background-color: transparent;
  overflow:hidden;
}
.circle{
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  top:12vh;
  left: 5vw;
  justify-content: center;
  align-items: center;
  box-shadow: inset -20px 20px 20px rgba(91, 220, 255, 0.4);
}
.backgroundimage.light .circle{
  box-shadow: inset -20px 20px 30px rgba(29, 207, 255, 0.8);
}


.backgroundimage span:nth-child(1){
  margin-top: 100px;
  opacity: 0.2;
  width: 600px;
  height: 600px;
  animation: spinclockwise 10s infinite linear;
}
.backgroundimage span:nth-child(2){
  opacity: 0.3;
  width: 800px;
  height: 800px;
  animation: spin 10s infinite linear;
}
.backgroundimage span:nth-child(3){
  opacity: 0.4;
  margin-top: -100px;
  width: 1000px;
  height: 1000px;
  animation: spinclockwise 10s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinclockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
