/* Navbar */
.navbarcontainer{
  position: sticky;
  top: 0px;
  z-index: 100000;
}
.navbar{
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  transition: .5s;
}

.navbar li b{
  padding-top: 3px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.navbar li b:hover{
  transition: 0.2s;
  color: rgba(0, 0, 0, 1);
}

.hamburger li:nth-child(1){
  background-color: white;
  width: 15px;
}

.hamburger li:nth-child(2){
  background-color: rgb(0, 158, 217);

}

.hamburger li:nth-child(3){
  background-color: rgb(0, 0, 0);
  width: 15px;
  height: 4px;

}
.items{
  display: flex;
  margin: 0;
  width: 60%;
  height: 50px;
  padding-top: 15px;
  list-style-type: none;

}
li{
  list-style-type: none;
}

.items li{
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.4em;
  font-weight: 700;
}

/* hamburger*/
.hamburger{
  display: none;
  cursor: pointer;
}


.info{
  transition: .5s;
  margin-top: 100px;
}

.info a img{
  width: 40px;
  padding: 0 20px;
}



@media only screen and (max-width: 880px){
  .info a img{
    width: 40px;
    padding: 0 15px;
  }
  .navbar .items li:nth-child(n+1){
    transform: scale(0);
  }

  /* .navbar .items li:nth-child(1){
    transform: scale(1);
    transition: 0.5s;
  } */

  /* .info.active{
    width: 100%;
    margin-right: 0px;
    transition: 1s;
  }

  .info.active a img{
    width: 10%;
    max-width: 55px;
    padding-top: 3vh;
    margin-right: 10%;
    transition: 1s;
  } */

  .items{
    width: 0px;
    padding-left:0;
    padding-right: 0;
    margin-right: 0;
  }

  .hamburger{
    display: block;
    right:20px;
    top:15px;
    position: absolute;
    cursor: pointer;
    transition: .5s;
  }

  .line{
    width: 30px;
    height: 3px;
    margin:6px;
    background: white;
    transition: 1s;
  }

  .navbar.active{
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
  }

  .navbar.active .items{
    display: block;
    margin-top: 5vh;
  }

  .navbar.active .items li{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:0;
    font-size: 40pt;
    transform: translateY(-100%) scale(0);
    margin-top: 7vh;
    padding-left: 10vw;
  }
  .navbar li a{
    transition: 0.4s;
    color: rgba(0, 0, 0, 1);
  }

  .navbar.active li a:hover{
    letter-spacing: 5px;
    padding-left: 3vw;
    color: rgba(255, 255, 255, 1);
    transition: .4s;
  }

  .navbar.active li:nth-child(1){
    transition: all .3s ease 0s;
    transform: translateY(0%) scale(1);
  }

  .navbar.active li:nth-child(2){
    transition: all 0.3s ease 0.1s;
    transform: translateY(0%) scale(1);
  }

  .navbar.active li:nth-child(3){
    transition: all 0.3s ease 0.15s;
    transform: translateY(0%) scale(1);
  }

  .navbar.active li:nth-child(4){
    transition: all 0.3s ease 0.2s;
    transform: translateY(0%) scale(1);
  }

  .navbar.active li:nth-child(5){
    transition: all 0.3s ease 0.25s;
    transform: translateY(0%) scale(1);
  }

  .navbar.active li:nth-child(6){
    transition: all 0.3s ease 0.3s;
    transform: translateY(0%) scale(1);
  }





  .hamburger.active li:nth-child(2){
    opacity: 0;
    transform: translateX(30px);
    transition: .5s;
  }

  .hamburger.active li:nth-child(1){
    transform: rotate(45deg) translate(14px);
    height: 5px;
    width: 40px;
    background-color: black;
    border-radius: 20px;
    transition: 0.5s;
  }
  .hamburger.active li:nth-child(3){
    transform: rotate(-45deg) translate(14px);
    height: 5px;
    width: 40px;
    background-color: black;
    border-radius: 20px;
    transition: .5s;
  }

}
