/* Navbar */
.navbarcontainer{
  position: sticky;
  top: 0px;
  z-index: 100000;
}
.navbar{
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  transition: .5s;
}

.navbar#light{
  background-color: rgba(255, 255, 255, 0.5);
}

.items li .active b{
  color: rgb(0, 158, 217);
  padding-bottom: 5px;
}

.navbar#light .items li .active b{
  color: rgb(0, 158, 217);
  padding-bottom: 5px;
}
.navbar li b{
  padding-top: 3px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.navbar li b:hover{
  transition: 0.2s;
  color: rgb(0, 158, 217);
}
.navbar#light .items li b:hover{
  transition: 0.2s;
  color: rgb(0, 158, 217);
}

.hamburger li:nth-child(1){
  background-color: rgb(249, 225, 68);
}

.hamburger li:nth-child(2){
  background-color: rgb(0, 158, 217);
  width: 23px;
}

.hamburger li:nth-child(3){
  background-color: rgb(0, 0, 0);
  width: 15px;
  height: 4px;

}
.items{
  display: flex;
  margin: 0;
  width: 60%;
  height: 50px;
  padding-top: 15px;
  list-style-type: none;

}
li{
  list-style-type: none;
}

.items li{
  margin-left: 3%;
  margin-right: 3%;
  font-size: 1.4em;
  font-weight: 700;
}

.items li b{
  transition: 0.5s;
}

/* hamburger*/
.hamburger{
  display: none;
  cursor: pointer;
}


.info{
  transition: .5s;
  margin-top: 50px;
}

.info a img{
  width: 40px;
  padding: 0 20px;
}



@media only screen and (max-width: 880px){
  .info a img{
    width: 40px;
    padding: 0 15px;
  }
  .navbar .items li:nth-child(n+1){
    transform: scale(0);
  }


  .items{
    width: 0px;
    padding-left:0;
    padding-right: 0;
    margin-right: 0;
  }

  .hamburger{
    display: block;
    right:20px;
    top:15px;
    position: absolute;
    cursor: pointer;
    transition: .5s;
  }

  .line{
    width: 30px;
    height: 3px;
    margin:6px;
    background: white;
    transition: 1s;
  }

  .navbar.active{
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
  }

  .navbar.active .items{
    display: block;
    margin-top: 5vh;
  }

  .navbar.active .items li{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    font-size: 2.5em;
    transform: translateY(-100%) scale(0);
    padding-left: 10vw;
  }
  .navbar li b{
    transition: 0.4s;
    color: rgba(255, 255, 255, 1);
  }
  .navbar li b:hover{
    color: rgb(0, 158, 217);
  }

  .navbar.active li b:hover{
    letter-spacing: 5px;
    padding-left: 2vw;
    color: rgb(0, 186, 255);
    transition: .4s;
  }
  #light.navbar.active li b:hover{
    letter-spacing: 5px;
    padding-left: 2vw;
    color: rgb(0, 186, 255);
    transition: .4s;
  }

  .navbar.active li:nth-child(1){
    transition: all .3s;
    transform: translateY(0%) scale(1);
  }

  .navbar.active li:nth-child(2){
    transition: all 0.3s 0.05s;
    transform: translateY(0%) scale(1);
  }

  .navbar.active li:nth-child(3){
    transition: all 0.3s 0.1s;
    transform: translateY(0%) scale(1);
  }

  .navbar.active li:nth-child(4){
    transition: all 0.3s 0.15s;
    transform: translateY(0%) scale(1);
  }

  .navbar.active li:nth-child(5){
    transition: all 0.3s 0.2s;
    transform: translateY(0%) scale(1);
  }

  .navbar.active li:nth-child(6){
    transition: all 0.3s 0.25s;
    transform: translateY(0%) scale(1);
  }







  .hamburger.active li:nth-child(1){
    transform: rotate(405deg) translate(14px);
    height: 5px;
    width: 50px;
    background-color: rgb(129, 129, 129);
    border-radius: 20px;
    transition: 0.5s;
  }

  .hamburger.active li:nth-child(2){
    opacity: 0;
    transform: translateX(30px);
    transition: 1s ease;
  }

  .hamburger.active li:nth-child(3){
    transform: rotate(-405deg) translate(14px);
    height: 5px;
    width: 50px;
    background-color: rgb(129, 129, 129);
    border-radius: 20px;
    transition: .5s;
  }

}
