/* Navbar */
.navbarcontainer {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 100000;
}

.navbar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  width: 100%;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -webkit-transition: .5s;
  transition: .5s;
}

.navbar.moveup{
  transform: translateY(-60px);
}

.navbar#light {
  background-color: rgba(255, 255, 255, 0.5);
}

.items li .active b {
  color: #009ed9;
  padding-bottom: 5px;
}

.navbar#light .items li .active b{
  color: #009ed9;
  padding-bottom: 5px;
}

.navbar li b {
  color: white;
  cursor: pointer;
}

.navbar li b:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #009ed9;
}

.navbar#light .items li b:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #009ed9;
}

.hamburger li:nth-child(1) {
  background-color: #f9e144;
}

.hamburger li:nth-child(2) {
  background-color: #009ed9;
  width: 23px;
}

.hamburger li:nth-child(3) {
  background-color: black;
  width: 15px;
  height: 4px;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  height: 50px;
  list-style-type: none;
  align-items: center;
}

li {
  list-style-type: none;
}

.items:not(:last-child):after{
  margin: 0 20px;
}
.last-item {
  margin-left: auto;
  margin-right: 3%;
}

.items li {
  font-size: 1.4em;
  font-weight: 700;
  padding: 0 20px;
}


.items li b {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  transform: translateY(14px);
}
.items li div img{
  padding-top: 5px;
  height: 40px;
  cursor: pointer;
}

/* hamburger*/
.hamburger {
  display: none;
  cursor: pointer;
}

.info {
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 50px;
}

.info a img {
  width: 40px;
  padding: 0 20px;
}

@media only screen and (max-width: 880px) {
  .navbar{
    height: 50px;
  }
  .info{
    width:250px !important;
  }
  .info a img {
    width: 35px;
    padding: 0 10px;
  }
  .navbar .items li{
    display: none;
  }
  .items {
    width: 0px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }
  .hamburger {
    display: block;
    right: 20px;
    top: 10px;
    position: absolute;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .line {
    width: 30px;
    height: 3px;
    margin: 6px;
    background: white;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .navbar.active {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .navbar.active .items {
    display: block;
    margin-top: 5vh;
  }
  .navbar.active .items li {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 6vh;
    font-size: 2.5em;
    -webkit-transform: translateY(-100%) scale(0);
            transform: translateY(-100%) scale(0);
    padding-left: 10vw;
  }
  .navbar li b{
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: white;
  }
  .navbar li b:hover {
    color: #009ed9;
  }
  .navbar.active li b:hover {
    letter-spacing: 5px;
    padding-left: 2vw;
    color: #00baff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  #light.navbar.active li b:hover {
    letter-spacing: 5px;
    padding-left: 2vw;
    color: #00baff;
    -webkit-transition: .4s;
    transition: .4s;
  }



  .hamburger.active{
    transform: translateY(10px);
  }
  .hamburger.active li:nth-child(1) {
    -webkit-transform: rotate(405deg) translate(14px);
            transform: rotate(405deg) translate(14px);
    height: 5px;
    width: 50px;
    background-color: #818181;
    border-radius: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .hamburger.active li:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .hamburger.active li:nth-child(3) {
    -webkit-transform: rotate(-405deg) translate(14px);
            transform: rotate(-405deg) translate(14px);
    height: 5px;
    width: 50px;
    background-color: #818181;
    border-radius: 20px;
    -webkit-transition: .5s;
    transition: .5s;
  }
}
