@import './navbar.css';
*{
  outline:none;
  border: none;
}

/* scrollbar */
body::-webkit-scrollbar {
    width: 0px;
}

:root{ scrollbar-width: none !important }

a{
  text-decoration: none;
  color: black;
}

/* body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0,0.4);
    border-radius: 20px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
} */

.App {
  text-align: center;
   background-color: rgb(50, 50, 50);
   transition: 1s;
}

.App.light{
  background-color: white;
  transition: 1s;
}

.modebutton{
  position: absolute;
  top: 20px;
  right:20px;
  z-index: 10000000;
  font-weight: 700;
  font-size: 1.5em;
  cursor: pointer;
}

html{
  scroll-behavior: smooth;
}

.fullpage{
  width:100%;
  height: auto;
  min-height: 60vh;
  overflow:hidden;
}

.wholeapp{
  animation: showup 1s ease;
}

@keyframes showup {
  0%{
    opacity: 0;
    transform: translateY(300px) scale(0.6);
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }

}

#loading{
  height: 100vh;
  max-height: 100vh;
  opacity: 1;
  transition: 1s;
  background: white;
}

#loading.done{
  opacity: 0;
}

#loading h1{
  color: black;
  top: 45%;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 1000;
  letter-spacing: 2px;
}
.base{
  background-color: rgb(0, 158, 217);
  width: 100%;
  position: absolute;
  bottom:0;
}

.wave{
  position: absolute;
  width: 100%;
  height: 100px;
  margin-bottom: -5px;
}


#home{
  min-height: 100vh;
  max-height: 100vh;
}

.positionbg{
  padding-left: 2vw;
  font-size: 17em;
  left: 0;
  position: static;
  overflow:hidden;
  z-index: 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .02);
  text-align: left;
  filter: blur(5px);
}

.intro{
  font-family: georgia;
  text-align: left;
  font-size: 2.5em;
  line-height: 1.3;
  position: absolute;
  top: 10vh;
  left: 5vw;
}

.intro h1{
  color: white;
  animation: slidefromright 1s linear;
}

@keyframes slidefromright{
  0%{
    transform: translateY(-200%);
    opacity: 0;
  }
  60%{
    transform: translateY(0px);
    opacity: 1;
  }
  70%{
    transform: translateY(-30px);
    opacity: 0.5;
  }
  80%{
    transform: translateY(0px);
    opacity: 1;
  }
  90%{
    transform: translateY(-5px);
    opacity: 0.8;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

.intro h1 span{
  color: rgb(0, 158, 217);
}

.intro h2{
  font-size: 2em;
  color: rgb(164, 164, 164);
}



.intro h2 span{
  color: rgb(0, 158, 217);
}

.typerwriter{
  color: white;
  opacity: 0;
  animation: typing 1s linear;
  animation-iteration-count: infinite;
}

@keyframes typing{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.infobox{
  height: 100vh;
  width: 60px;
  background-color: white;
  top: 0;
  right:20px;
  position: absolute;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0);
}

.infobox div{
  bottom: 5vh;
  position: absolute;
}

.infobox a img{
  margin-top: 30px;
  width: 40px;
}


.arrow{
  width: 50px;
  transform: rotate(-90deg);
  transition: .3s;
  border-radius: 50%;
}

.arrow:hover{
  transform: scale(1.2) rotate(0deg);
  background:rgb(0, 158, 217);
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
}





















#about{
  z-index: 20;
  padding-bottom: 120px;
}




.aboutcontainer{
  display: flex;
  width: 80%;
  margin-top: 8vh;
  margin-left: 10%;
  margin-right: 10%;
}

.aboutleft{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  max-width: 800px;
}

.aboutleft p{
  color: rgba(255, 255, 255, 0.8);
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  line-height: 1.5;
  font-weight: 500;
  text-align: left;
  text-align: "." start;
}

.aboutleft p b{
  text-align: left;
  font-size: 1.5em;
}


.aboutright{
  width: 50%;
}

.aboutright img{
  max-width: 400px;
  background: green;
  width: 80%;
  border-radius: 20px;
  margin:10%;
  margin-top: 5vh;
  transition: .5s;
}

.aboutright img:hover{
  transform: scale(1.03);
}

.icons{
  margin-top: 3vh;
}

.icons img{
  width: 12%;
  margin-left:1%;
  margin-right: 1%;
  transition: 0.5s;
  display: inline-block;
}

.smallericon{
  width: 10% !important;
  padding-bottom: 1%;
}

.icons img:hover{
  transform: scale(1.1);
}

.resumelink{
  width: 100%;

}

.resumelink div{
  width: 60%;
  margin: 50px 20%;
  display: flex;
  justify-content: space-between;
}

.resumelink div a{
  font-size: 1.4em;
  background-color: rgb(0, 158, 217);
  font-weight: 700;
  padding: 7px 30px;
  color: white;
  border-radius: 40px;
  display: flex;
}







#skills{
  padding-bottom: 120px;
}

.skillscontainer{
  width: 90%;
  max-width: 1200px;
  margin:auto;
}

.skillbox{
  width: 48%;
  height: 240px;
  float: left;
  margin:1%;
  background-color: rgba(129, 129, 129, 0.6);
  border-radius: 5px;
  transition: .2s;
  padding-top: 10px;
  overflow-y: hidden;
}
.skillbox:hover{
  transform: translateY(-5px);
  box-shadow: 0px 3px 20px 2px rgba(255, 255, 255, 0.3);
}

.skillbox b{
  color: rgb(0, 186, 255);
  font-size: 1.5em;
}

.skill{
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  float: left;
}

.skill img{
  width: 70px;
}

.skill p{
  width: 90%;
  margin:5%;
  font-size:1.1em;
  color: white;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
}






















#projects{
  padding-bottom: 150px;
}
.projectcontainer{
  width: 90%;
  margin: auto;
  max-width: 1200px;
  margin-top: 2%;
}


.projectbox{
  margin: 30px 0;
  width: 100%;
  height: 350px;
  display: flex;
  position: relative;
}

.projectboxleft{
  border-radius: 10px;
  width:60%;
  max-width: 700px;
  min-width: 700px;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.projectboxleft img{
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.projectboxright{
  margin: auto 0;
  height: 80%;
  width: 40%;
  min-width: 500px;
  z-index: 10;
  margin-left: auto;
  position: relative;
  box-shadow: -5px 1px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 10px 30px;
}

.projectboxright h2{
  margin-top: 10px;
  text-align: right;
  font-size: 1.7em;
  color: white;
  letter-spacing: 3px;
}

.projectboxright p{
  font-size: 1.2em;
  text-align: right;
  font-weight: 600;
  color: white;
}

.projectboxright .pills{
  font-size: 1em;
  justify-content: flex-end;
}

.links{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 70%;
  margin-left: auto;
  border-radius: 10px;
  padding: 5px 20px;
  box-shadow: -5px 1px 10px 0px rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
}

.links b{
  font-size: 1.2em;
  padding: 3px 10px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
}

.links b:hover{
  background-color: black;
  color: white;
}

.livedemobutton{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  text-align: center;
  margin-top: 15px;
  font-size: 1.4em;
  padding: 5px 20px;
  width: 110px;
  border-radius: 20px;
  background-color:rgb(0, 158, 217);
  cursor: pointer;
  transition: .5s;
}

.livedemobutton:hover{
  color: white;
}

@media only screen and (max-width: 880px){

  .projectbox{
    display: block;
    height: auto;
  }
  .projectboxleft{
    width: 80%;
    margin-right: 20%;

    min-width: auto;
    max-height: 350px;
    position: relative;
  }
  .projectboxright{
    transform: translateY(-70px);
    width: 70%;
    padding: 5%;
    min-width: auto;
    position: relative;
  }

  .projectboxright h2{
    font-size: 1.2em;
    margin:0;
  }

  .projectboxright p{
    font-size: 0.9em;
    margin: 10px 0;
  }

  .projectboxright .pills{
    font-size: 0.9em;
  }

  .links{
    width: 90%;
    margin: 0;
    margin-top: 15px;
    padding: 2px 5%;
  }
  .links b{
    font-size: 0.9em;
  }

  .livedemobutton{
    margin-top: 20px;
  }

  .livedemobutton b{
    font-size: .9em;
    width: 100px;
  }
}










/* .projectcontainer{
  width: 60%;
  margin: auto;
  max-width: 1200px;
  margin-top: 2%;
}

.project{
  height: auto;
  width: 48%;
  margin: 1%;
  float: left;
  border-radius: 10px;
  transition: .5s;
} */



/* .container {
  position: relative;
  object-fit: contain;
  height: 100%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.links{
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  height: 21%;
  width: 35px;
  padding: 10px 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius:10px;
  box-shadow: -5px 1px 10px 0px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 100;
  transition: .5s;
}


.links img{
  height: 46%;
  margin-top: 2%;
  margin-bottom: 2%;
  transition: .5s;
  cursor: pointer;
}

.fulllinks{
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 5px 2.5%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: .3s;
  transform: translateY(80px);
}

.fulllinks p{
  font-size: 1em;
  margin: 0;
  color: rgb(0, 0, 0);
  margin: 5px;
  font-weight: 700;
  border-radius: 30px;
  padding: 0 10px;
  transition: 0.5s;
  cursor: pointer;
}

.fulllinks p:hover{
  background-color: rgba(255, 255, 255, 0.67);
}

.container:hover .fulllinks{
  opacity: 1;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2);
  transform: translateY(-5px);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgb(0, 158, 217);
  overflow: hidden;
  width: 100%;
  height: 28%;
  border-radius: 10px;
  transition: .3s ease;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
}

.container:hover .overlay{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.text {
  width: 100%;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 1s;
}
.text img{
  width: 40px;
  height: 15px;
  opacity: 1;
  transition: 1s ease;
}

.container:hover .text img{
  transform: scale(0.5) translateY(-200px);
  opacity: 0;
}


.container:hover .links{
  width: 40px;
  bottom: 2%;
  right: -100px;
  height: 25%;
  transition: 0.5s;
  border-radius: 10px;
}

.container:hover .links img{
  transition: .5s;
}

.container:hover .text{
  align-items: center;
}

.desp{
  height: 0;
  opacity: 0;
  font-size: 0.8em;
  font-weight: 500;
  transform: scaleX(0) translateY(50px);
  transition: .5s ease;
  width: 80%;
  margin:0 10%;
}

.container:hover .desp{
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 1;
  margin-top: 5%;
  margin-bottom: 3%;
  transform: scaleY(1) translateY(0px);
} */




.pills{
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: center;
  font-size: 0.7em;
  font-weight: 700;
  color: white;
}

.pill{
  background: rgb(0, 158, 217);
  margin: 0px 10px;
  margin-top: 5px;
  padding: 1px 10px;
  border-radius: 20px;
}

.pill.Redux{
  background-color: purple;
}
.pill.ROR{
  background-color:rgb(223, 0, 0);
}
.pill.Affinity{
  background-color: rgb(0, 112, 153);
}
.pill.VanillaJS{
  background-color: rgb(218, 190, 0);
  color: black;
}

.viewmorebutton{
  justify-content: center;
  align-items: center;
  margin:1.5%;
  padding: 10px 30px;
  font-size: 1.5em;
  font-weight: 700;
  margin: 2% 20%;
  border-radius:10px;
  letter-spacing: 3px;
  border:3px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: .5s;
}
.viewmorebutton:hover{
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
}











#blogs{
  padding-bottom: 120px;
}

.blogscontainer{
  width: 90%;
  margin: auto;
  max-width: 1200px;
}


.blogbox{
  width: 30%;
  margin: 1.5%;
  float: left;
}

.blogbox img{
  width: 100%;
  margin-bottom: 10px;
}

.blog{
  text-align: left;
}

.blog b {
  font-size: 1.7em;
  color: white;
}
.blog small{
  color: rgba(255, 255, 255, 0.5);
}

.blogtags{
  font-size: 1em;
  justify-content: flex-start;
}

.blogtags .pill{
  margin-left: 0;
  margin-right: 15px;
}















#contact{
  height: 700px;
  padding-bottom: 150px;
  z-index: 200;
}

.contactcontainer{
  width: 100%;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contactcontainer h1{
  color: white;
  margin-top: 0;
  font-size: 3.5em;
  margin-bottom: 20px;
}

.contactcontainer p{
  color:white;
  font-size: 1.4em;
  margin-bottom: 50px;
}

.contactcontainer a{
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: transparent;
  border: 3px solid rgb(0, 158, 217);
  color: rgb(0, 158, 217);
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.contactcontainer a:hover{
  background-color: rgb(0, 158, 217);
  color: white;
}


hr{
  border:1px solid white;
  width: 188px;
}







#footer{
  height: 30px;
  padding-top: 12px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
}

.footernote{
  width: 90%;
  margin:0 5%;
    display: flex;
  justify-content: space-between;
}
#footer p{
  font-weight: 700;
  margin: 0;
  color: white;
}
#footer a{
  color: white;
}














.pagemark{
  color:rgb(0, 158, 217);
  text-align: left;
  height: 50px;
  padding-top: 100px;
  margin-top: 0;
  font-size: 2.5em;
  transition: .3s;
}

.pagemark.remove{
  transform: translateY(20px) scale(0);
  opacity: 0;
}
















@media only screen and (max-width: 880px){
  .positionbg{
    font-size: 13em;
  }
  .intro{
    top: 20vh;
  }
  .intro h1{
    font-size: 1.1em;
    line-height: 1.6;
  }
  .intro h2{
    font-size: 0.85em;
    line-height: 1.6;
  }

  /*about page*/
  .aboutcontainer{
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .aboutleft{
    width:100%;
    margin:0%;
  }

  .icons img{
    max-width: 50px;
  }
  .aboutleft p{
    font-size: 1.1em;
    line-height: 1.4;
  }
  .aboutright{
    width: 100%;
  }
  .aboutright img{
    max-width: 300px;
  }

  .project{
    width: 100%;
    margin: 0;
    margin-bottom: 5%;
    height: 300px;
  }

  .projectcontainer{
    width: 80%;
    margin: 10%;
  }

  .contactcontainer{
    padding-top: 15vh;
    width: 80%;
    margin: auto;
  }

  .skillbox{
    width: 100%;
    height: auto;
    margin-bottom: 5%;
  }
  .skillbox p{
    font-size: 1.2em;
  }
  .blogbox{
    width: 100%;
    margin-bottom: 5%;
  }
}


@media only screen and (min-width: 1500px){
  .project{
    width: 30%;
    margin: 1.5%;
    margin-bottom: 1%;
    height: 300px;
  }

  .skillbox{
    width: 31%;
    height: 260px;
    margin-bottom: 5%;
  }
}
